.home-page-head a.active {
  color:orange;
}


.sub-head {
  text-align: center;
}


ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}



.form-control:focus {
    color:unset; 
    background-color: unset;
    border-color:unset;
    outline: none;
    box-shadow: none;
}


table thead, table tbody {
  text-align: initial;
}


main {
  padding-bottom: 20px;
  background-color: #181c28;
}


.header-end {
  display: flex;
}

.header-end div {
  margin-left: 10px;
}

.auth-links {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.auth-error-msg {
  color: red;
  display: flex;
  justify-content: center;
}

.modal-body label {
  display: flex;
  justify-content: center;
}